<!-- Footer -->
<footer class="bg-dark text-light pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <!-- Company Info -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">GameHaven Hub</h5>
                <p>Your ultimate destination for an immersive gaming experience. Join us for the best in gaming, events, tournaments, and community.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Quick Links</h5>
                <p>
                    <a href="{% url 'home' %}" class="text-light" style="text-decoration: none;">Home</a>
                </p>
                {% if request.user.is_authenticated %}
                <p>
                    <a href="{% url 'event_list' %}" class="text-light" style="text-decoration: none;">Events / Tournaments</a>
                </p>
                <p>
                    <a href="{% url 'events' %}" class="text-light" style="text-decoration: none;">My Events</a>
                </p>
                {% endif %}
                <p>
                    <a href="{% url 'selectmembership' %}" class="text-light" style="text-decoration: none;">Membership</a>
                </p>
                <p>
                    <a href="{% url 'shop_location' %}" class="text-light" style="text-decoration: none;">Shop Location</a>
                </p>
                <p>
                    <a href="{% url 'event_weather' 'nairobi' %}" class="text-light" style="text-decoration: none;">Weather</a>
                </p>
            </div>


            <!-- Contact -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
                <p>
                    <i class="fas fa-home mr-3"></i> Roysambu Lumumba Drive Kenya
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> support@gamehavenhub.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> +254701496724
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> +254701496724
                </p>
            </div>

            <!-- Social Media -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Follow Us</h5>
                <p>
                    <a href="#" class="text-light" style="text-decoration: none;">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                </p>
                <p>
                    <a href="#" class="text-light" style="text-decoration: none;">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                </p>
                <p>
                    <a href="#" class="text-light" style="text-decoration: none;">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </p>
                <p>
                    <a href="https://www.twitch.tv/gamehavenhub" target="_blank" class="text-light" style="text-decoration: none;">
                        <i class="fab fa-twitch"></i> Twitch
                    </a>
                </p>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left">
                    © {% now 'Y' %} GameHaven Hub | All Rights Reserved | Designed by <a href="#" class="text-light" style="text-decoration: none;"><strong>Kenneth Muriuki</strong></a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- FontAwesome and Bootstrap JS -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
