{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }
    .login-container {
        max-width: 500px;
        margin: 50px auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        color: #343a40;
    }
    .login-container .form-group label {
        font-weight: 500;
        color: #343a40;
    }
    .login-container .btn-login {
        width: 100%;
        background-color: #ff5722;
        color: #fff;
        border-radius: 50px;
    }
    .login-container .btn-login:hover {
        background-color: #e64a19;
    }
    .login-container .form-text {
        text-align: center;
        color: #6c757d;
    }
    .login-container .form-text a {
        color: #ff5722;
        text-decoration: none;
    }
    .login-container .form-text a:hover {
        text-decoration: underline;
    }
</style>

<div class="login-container">
    <h2>Enter Your OTP</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_otp">OTP</label>
            <input type="text" name="otp" class="form-control" id="id_otp" required>
        </div>
        <button type="submit" class="btn btn-login mt-4">Confirm</button>
    </form>
</div>
{% endblock %}
