{% extends 'base.html' %}

{% block title %}Favorite Games{% endblock %}

{% block content %}
<div class="container">
    <h1>Your Favorite Games</h1>
    <div class="row">
        {% for game in favorite_games %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if game.image %}
                <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ game.title }}</h5>
                    <p class="card-text">{{ game.description|truncatewords:20 }}</p>
                    <a href="{% url 'game_detail' game.id %}" class="btn btn-primary">View Details</a>
                    <a href="{% url 'favorite_game' game.id %}" class="btn btn-danger">Remove from Favorites</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
