{% extends 'base.html' %}
{% load static %}
{% block title %} Mpesa{% endblock %}
{% block content %}
<style>
     body {
        background-color: #f8f9fa;
    }
    h5{
        color: #343a40;
    }
    .mpesa-container {
        max-width: 500px;
        margin: 50px auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .mpesa-container h2 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        color: #343a40;
    }
    .mpesa-container .form-group label {
        font-weight: 500;
        color: #343a40;
    }
    .mpesa-container .btn-mpesa {
        width: 100%;
        background-color: #ff5722;
        color: #fff;
        border-radius: 50px;
    }
    .mpesa-container .btn-mpesa:hover {
        background-color: #e64a19;
    }
    .mpesa-container .form-text {
        text-align: center;
        color: #6c757d;
    }
    .mpesa-container .form-text a {
        color: #ff5722;
        text-decoration: none;
    }
    .mpesa-container .form-text a:hover {
        text-decoration: underline;
    }
</style>

<div class="mpesa-container">
    <h2>Enter Your Mpesa Number</h2>

<form method="POST">
    {% csrf_token %}
    <h5>Pay Ksh {{ event.registration_fee|floatformat:0 }} for {{ event.name }}</h5>
    <div class="form-group">
        <label for="id_mpesa">Mpesa Phone Number</label>
        <input type="text" name="phone" class="form-control" id="id_mpesa" required placeholder="Enter phone number (e.g., 2547...)">
    </div>
    <div class="form-group">
        <label for="id_price">Total Amount (Ksh)</label>
        <input type="text" name="price" class="form-control" id="id_price" readonly value="{{ event.registration_fee|floatformat:0 }}">
    </div>
    <button type="submit" class="btn btn-mpesa mt-4">Continue To Payment</button>
</form>
    
</div>
{% endblock %}



