{% extends 'base.html' %}
{% load static %}
{% block title %}Live Stream -GameHaven {% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Watch GameHaven Hub Live on Twitch</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe
            src="https://player.twitch.tv/?channel=murioken&parent=127.0.0.1"
            height="500"
            width="100%"
            frameborder="0"
            allowfullscreen="true">
        </iframe>
    </div>
</div>
{% endblock %}
